body{
  margin: 0;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 1.5em;
  border: 0;
  color: #40514E;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Nerko One', cursive;
  color: #66BFBF;
  font-weight: normal;
  font-size: 3.5rem;
  padding-bottom: 20px;
}

h3{
  font-family: 'Nerko One', cursive;
  color: #11999E;
  font-size: 2.75rem;
}

a{
  color: #11999E;
  font-family: 'Nerko One', cursive;
  margin: 50px 20px;
  text-decoration: none;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 20px;
  border-bottom: none;
  width: 8%;
  margin: 100px auto;
}

a:hover{
  color: #1199FF;
}

h1:hover,
.contact:hover,
.pingpong:hover,
.vaasu:hover,
.hacker:hover,
.bottom-cloud:hover,
.top-cloud:hover,
.mountain:hover{
  transform: scale(1.2);
}

.first-container{
  background-color: #e4f9f5;
  margin-top: 0;
  position: relative;
  line-height: 2;
}


.middle-container{
  margin-top: 100px;
}

.bottom-container{
  margin-top: 100px;
  background-color: #e4f9f5;
  padding: 50px 0 20px;
}
/*background-color: #e4f9d9;
margin-top: 0;
position: relative;
line-height: 1;*/

.intro{
  width: 50%;
  margin: auto;
}

.mountain{
  position: relative;
}

.con{
  width: 50%;
  margin: 60px auto 80px;
}

.top-cloud{
  position: relative;
  top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  right: 400px;
}

.bottom-cloud{
  position: relative;
  display: inline;
  bottom: 400px;
  left: 900px;
}

.pro{
  text-decoration: underline;
}

.vaasu{
  padding-top: 30px;
  border-radius: 50%;
  max-width: 25%;
}



.skill-row{
  width: 50%;
  margin: auto;
  text-align: left;
  padding-bottom: 30px;
}

.hacker{
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
}

.pingpong{
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 30px;
}
.contact{
  font-size: 4.2rem
}

.profile{
  width: 75%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Nerko One', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #13ebcd;
  background-image: -webkit-linear-gradient(top, #13ebcd, #328cdcd);
  background-image: -moz-linear-gradient(top, #13ebcd, #328cdcd);
  background-image: -ms-linear-gradient(top, #13ebcd, #328cdcd);
  background-image: -o-linear-gradient(top, #13ebcd, #328cdcd);
  background-image: linear-gradient(to bottom, #13ebcd, #328cdcd);
  text-decoration: none;
}
